<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Malicious URL Detection</h1>

    <div class="home__training">
        <h3>Load Pretrained Model (LSTM)</h3>
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <button md-raised-button (click)="LoadModel()">
                Load model
            </button>
        </md-card>
    </div>

    <div class="home__prediction"
         fxLayoutAlign="center center"
         fxLayout="column">
        <h3>Predict URLs</h3>

        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Specify URL</h4>
            <div>
                <button md-raised-button (click)="predictURL()">Predict URL</button>
            </div>
        </md-card>

        <div *ngIf="probabilityPredictions"
             fxLayoutAlign="center center"
             fxLayout="column"
             class="home__chart-container">
            <h4>Prediction Result</h4>
        </div>
    </div>
</div>
