.form-group {
    position: relative;
	background-color: #009933;
    text-align: center;
	opacity: .75;
	padding: 15px 0;
}

.results-group {
	position: relative;
	text-align: center;
	padding: 10px 0;
}

.black-group {
    margin: 50px 0px;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding: 60px 16px;
    min-height: 100%;
}

.white-group {
    margin: 50px 0px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 60px 16px;
    color: black;
}

img {
    text-align: center;

}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
	border: 3px solid gray;
    border-radius: 10px;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

html { 
  background: url("http://people.ischool.berkeley.edu/~shulok/cyber/code_full.jpg") no-repeat center fixed; 
  background-size: cover;
  font-family: "Arial";
  font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
}

.imgbox {
	display: grid;
	height: 100%;
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

head {
	text-align: center;
	color: white;
}

.firstpage {
    height: 100%;
}

body, html, .main {
    min-height: 50%;
}

.column {
    float: left;
}


/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.subcolumn {
    float: left;
}


.subcolumn.left {
    width: 50%;
}

/* Middle column */
.subcolumn.right {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
p {
    margin-top: 50px;
   
}

section {
    height: 50%;
}

body {
	margin: 0 auto;
	text-align: center;
	color: white;
}
		  
h1 {
	margin: 50px;
    color: white;
    font-family: Impact;
    font-size: 500%;
	text-align: center;
	
}

h2 {
	margin: 20px;
    color: white;
    font-family: Impact;
    font-size: 300%;
	text-align: center;
}

h3 {
    font-family: Impact;
    font-size: 200%;
    margin-top: 20px;
}

h4 {
    font-family: Impact;
    font-size: 100%;
    margin-top: 10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table.center {
    width:40%; 
    margin-left:30%; 
    margin-right:30%;
}

table, th, td {
    table-layout: fixed ;
	text-align: center;
	border-collapse: collapse;
    margin: 20px;
}

th {
    text-align: left;
}

.subtable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.subtable td {
       
    text-align: left;
    vertical-align: text-top;
    font-family: "Arial";
    font-size: 20px;
}

.subtable th {
    
    text-align: center;
    
}

.subtable td, .subtable.th {
    width: 50%;
    padding: 20px;
}

.metricstable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 70%;
}

    .metricstable td {
        text-align: left;
        vertical-align: text-top;
        font-family: "Arial";
        font-size: 20px;
    }

    .metricstable td, .metricstable.th {
        width: 50%;
    }

a {
    color: red;
    font-weight: bold;
}

.eighty {
  width: 70%;
}
.twenty {
  width: 30%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
	top: 0;
    right: 0;
	width: 100%;
    background-color: black;
    overflow: hidden;
	border-bottom: 2px solid red;
	z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
    font-size: 17px;
}

/* Change the color of buttons on hover */
.topnav a:hover {
    background-color: #71c174;
    color: black;
}

/* Add a color to the active/current button */
.active {
    background-color: #4CAF50;
    color: white;
}

.topnavbtn {
	float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
    font-size: 17px;
}

.btnlarge {
    background-color: #4CAF50;
    color: white;
    padding: 15px 28px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
}

.btnlarge:hover {
    background-color: #71c174;
}

.btn {
    border: 2px solid white;
    background-color: #009933;
    color: black;
    padding: 5px 28px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 10px;
}

/* Green */
.success {
    border-color: white;
    color: white;
}

.success:hover {
    background-color: white;
	border: 2px solid black;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

