.form-group {
    position: relative;
	background-color: #009933;
    text-align: center;
	opacity: .75;
	padding: 15px 0;
}

.results-group {
	position: relative;
	background-color: 	#000000;
    text-align: center;
	opacity: .80;
	padding: 10px 0;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

html { 
  background: url("code_full.jpg") no-repeat center fixed; 
  background-size: cover;
  font-family: "Arial";
}

head {
	text-align: center;
	color: white;
}

div {
	
}

body {
	margin: 0 auto;
	text-align: center;
	color: white;
}
		  
h1 {
    color: white;
    font-family: Impact;
    font-size: 500%;
	text-align: center;
}

h5 {
    color: white;
    font-family: Impact;
    font-size: 300%;
	text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table.center {
    width:40%; 
    margin-left:30%; 
    margin-right:30%;
}

table, th, td {
    table-layout: fixed ;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
    text-align: left;
}

.eighty {
  width: 70%;
}
.twenty {
  width: 30%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
	padding: 14px 16px;
	margin: 20px 0;
	border-bottom: 3px solid red;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	margin: 20px 0;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.btn {
    border: 2px solid white;
    background-color: #009933;
    color: black;
    padding: 5px 28px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 10px;
}

/* Green */
.success {
    border-color: white;
    color: white;
}

.success:hover {
    background-color: white;
	border: 2px solid black;
    color: black;
}