
.form-group {
    position: relative;
    opacity: .75;
    /*padding: 50px;*/
    text-align: center;
}

.results-group {
	position: relative;
	text-align: center;
	padding: 10px 0;
}

.black-group {
    margin: 50px 0px;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding: 60px 16px;
    min-height: 100%;
}

.white-group {
    margin: 50px 0px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 60px 16px;
    color: black;
}

img {
    text-align: center;

}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    font-family: "Orbitron";
    font-size: 20px;
    text-align: left;
    color: white;
    background: url(Monitor.png) no-repeat center;
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 0 auto;
    width: 100%;
}

.container:after {
    padding-top: 75%;
    /* the monitor image is 800x600 so set the padding top % to match 600/800 = .75 */
    display: block;
    content: '';
}

.demomain {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: left;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;

}

h4 {
    font-family: "Orbitron";
    text-align: left;
    color: white;
    font-size: 150%;
    margin-top: 10px;
    word-wrap: break-word;
}

input[type=text] {
    padding: 5px 20px;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 6px;
    font-size: 16px;
    width: 70%;
}

.btn {
    border: 2px solid white;
    background-color: #009933;
    color: black;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

html {
    background: url(code_full.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
}

.imgbox {
	display: grid;
	height: 100%;
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

head {
	text-align: center;
	color: white;
}

.firstpage {
    height: 100%;
}

body, html, .main {
    min-height: 50%;
}

.column {
    float: left;
}


/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.subcolumn {
    float: left;
}


.subcolumn.left {
    width: 50%;
}

/* Middle column */
.subcolumn.right {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
p {
    margin-top: 15px;
   
}

figcaption {
    font-size: 80%;
}

section {
    height: 50%;
}

body {
	margin: 0 auto;
	text-align: center;
	color: white;
}

h1 {
    margin: 50px;
    color: white;
    font-family: Orbitron;
    font-size: 500%;
    font-weight: bolder;
    text-align: center;
}

h2 {
    margin: 20px;
    color: white;
    font-weight: bolder;
    font-family: Orbitron;
    font-size: 300%;
    text-align: center;
}

h3 {
    font-family: Orbitron;
    font-size: 200%;
    margin-top: 20px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table.center {
    width:40%; 
    margin-left:30%; 
    margin-right:30%;
}

table, th, td {
    table-layout: fixed ;
	text-align: center;
	border-collapse: collapse;
    margin: 20px;
}

th {
    text-align: left;
}

.metricstable {
    table-layout: fixed;
    border-collapse: collapse;
    
}

    .metricstable td {
        text-align: left;
        vertical-align: text-top;
        padding-right: 20px;
    }

    .metricstable td, .metricstable.th {
        width: 50%;
    }

a {
    color: red;
    font-weight: bold;
}

.eighty {
  width: 70%;
}
.twenty {
  width: 30%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
	top: 0;
    right: 0;
	width: 100%;
    background-color: black;
    overflow: hidden;
	border-bottom: 2px solid red;
	z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
    font-size: 17px;
}

/* Change the color of buttons on hover */
.topnav a:hover {
    background-color: #71c174;
    color: black;
}

/* Add a color to the active/current button */
.active {
    background-color: #4CAF50;
    color: white;
}

.topnavbtn {
	float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
    font-size: 17px;
}

.btnlarge {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
}

.btnlarge:hover {
    background-color: #71c174;
}

/* Green */
.success {
    border-color: white;
    color: white;
}

.success:hover {
    background-color: white;
	border: 2px solid black;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.logo {
    color: red;
    font-size: 125%;
    /*font-weight: bolder;*/
}

h5 {
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
    color: red;
}

.blinking {
    animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
    0% { color: red; }



    50% { color: transparent; }


    100% { color: red; }
}

.subheading {
    font-size: 125%;
    font-weight: bold;
}