<style>
    html {
        font-family: "Arial";
        background: white;
    }
    
    body {
        background: lightgrey;
        margin: 0 auto;
    }
              
    head {
        background: lightsteelblue;
    }
    </style>

<head>
    <br />
    <b>Team Cyber - Malicious URL detection</b>
    <br />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<br />
<body>
    <h5>Binary Model</h5>
<form>
    <input type="text" name="URL_Binary" />
    <input type="submit" value="Submit" />
</form>

<p><b>Results</b></p>
<p>URL: <b>{{binary_output.url}}</b> </p>
<p>Type: <b>{{binary_output.type}}</b></p>

<h5>Multiclass Model</h5>

<form>
        <input type="text" name="URL_Multi" />
        <input type="submit" value="Submit" />
    </form>
    
    <p><b>Results</b></p>
    <p>URL: <b>{{multi_output.url}}</b> </p>
    <p>DGA Class: <b>{{multi_output.type}}</b></p>    
</body>