<style>
    html {
        font-family: "Arial";
        background: white;
    }
    
    body {
        background: lightgrey;
        margin: 0 auto;
    }
              
    head {
        background: lightsteelblue;
    }
    </style>

<head>
    <br />
    <b>Team Cyber - Malicious URL detection</b>
    <br />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<br />
<body>
<form>
    <input type="text" name="URL" placeholder="Enter URL" />
    <input type="submit" value="Submit" />
</form>

<p>URL: <b>{{output.url}}</b> </p>
<p>Type: <b>{{output.type}}</b></p>
</body>