<head>

    <!-- For main text -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <!-- For text on demo screen -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Doppio One">
    <!-- For headings -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <!-- Stylized X -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock Salt">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Piedra">-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {


            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });

                    // Add active class to the current button (highlight it)
                    var header = document.getElementById("navigation");
                    var btns = header.getElementsByClassName("topnavbtn");
                    for (var i = 0; i < btns.length; i++) {
                        btns[i].addEventListener("click", function () {
                            var current = document.getElementsByClassName("active");
                            if (current.length > 0) {
                                current[0].className = current[0].className.replace(" active", "");
                            }
                            this.className += " active";
                        });
                    }

                } // End if
            });


        });

        $(function() {
            // if no multiclass return, hide results element

            var binaryResult = document.getElementById("binarytype");
            var classLabel = document.getElementById("DGAClassLabel");
            var multiclassType = document.getElementById("multitype");
            var predictionLabel = document.getElementById("DGAProbability");
            var predictionValue = document.getElementById("predictionprob");
            var maliciousSybol = document.getElementById("maliciousX");
            var benignSymbol = document.getElementById("benign");
            var urlString = document.getElementById("url");
            var typeLabel = document.getElementById("typeLabel");

            var resultString = multiclassType.innerHTML;

            // if multitype value is 1 or 0, then url is not malicious or no url has been submitted
            if (resultString.length < 2) {
                classLabel.style.visibility = "hidden";
                multiclassType.style.visibility = "hidden";
                predictionLabel.style.visibility = "hidden";
                predictionValue.style.visibility = "hidden";

                // if no binary results either
                if (binaryResult.innerHTML.length < 2) {
                    binaryResult.style.display = "none";
                    benignSymbol.style.display = "none";
                    maliciousSybol.style.visibility = "hidden";
                    urlString.style.visibility = "hidden";  // in case a previous url is displayed
                    typeLabel.style.visibility = "hidden";
               
                } else {
                    // This should be nonMalicious
                    typeLabel.style.visibility = "visible";
                    urlString.style.visibility = "visible"; 
                    benignSymbol.style.display = "inline";
                    maliciousSybol.style.display = "none";
                }
            } else {    // This is malicious
                typeLabel.style.visibility = "visible";
                urlString.style.visibility = "visible"; 
                binaryResult.style.visibility = "visible";  // always visible if there are any results
                classLabel.style.visibility = "visible";
                multiclassType.style.visibility = "visible";
                predictionLabel.style.visibility = "visible";
                predictionValue.style.visibility = "visible";
                benignSymbol.style.display = "none";
                maliciousSybol.style.display = "inline";
            }
            
        });

        
    </script>
</head>
<div class="topnav" id="navigation">

    <a class="topnavbtn" href="#team">Team</a>
    <a class="topnavbtn" href="#model">Model</a>
    <a class="topnavbtn" href="#data">Data</a>
    <a class="topnavbtn" href="#about">Solution</a>
    <a class="topnavbtn" href="#problem">Problem</a>
    <a class="topnavbtn" href="#story">Story</a>
    <a class="topnavbtn" href="#demo">Demo</a>
    <a class="topnavbtn" href="#home">Home</a>

</div>

<div id="home"><br /></div>
<div class="firstpage">
    <h1>Reque<span class="logo">&#x2718;</span> DNS</h1>
    <h2>Malicious Domain Detection </h2>
    <br /><br /><br />
    <a class="btnlarge" href="#demo"><b>Try Now >></b></a>
    
</div>

<body>

    <div class="black-group" id="demo">
        <h2>Demo</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p style="text-align: center">
                    Enter a domain name to test if RequeX DNS would block access to it.
                </p>
                <div class="container">
                    <div class="demomain">
                        <form>
                            <div class="form-group">
                                <input type="text"  name="URL_Binary" placeholder="Enter a domain name" autocomplete="off">
                                <button class="btn success" type="submit">Test</button>
                            </div>
                        </form>
                        <br/><br />
                        <h4 id="url" class="resultstext">{{binary_output.url}}</h4>
                        <table class="metricstable" id="results">

                            <tr>
                                <td id="typeLabel">Type: </td>
                                <td>
                                     <span id="binarytype" class="resultstext">{{binary_output.type}}</span>
                                    <span id="benign" class="benign">  &#x2714;</span>
                                    <span id="maliciousX" class="malicious">  &#x2718;</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="DGAClassLabel">DGA Class:</td>
                                <td id="multitype" class="resultstext">{{multi_output.type}}</td>
                            </tr>
                            <tr>
                                <td id="DGAProbability">Prediction Probability: </td>
                                <td id="predictionprob" class="resultstext" >{{multi_output.probability}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        
        
        <div style="text-align: center">
            <br /><br /><br /><br />
            <a class="btnlarge" href="#story"><b>Learn More >></b></a>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>
    <div class="black-group" id="story">
        <h2 text-align: center>Story</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <p>
                    In September 2018, hurricane Florence struck the North Carolina coast as a powerful Category 1
                    storm. It brought with it not only high winds,
                    but also record levels of rainfall. In its path was the North Carolina shoreline. Onslow County
                    took a direct hit from Hurricane Florence.
                    With some areas in the county receiving over 30 inches of rainfall over the course of the multi-day
                    storm, there was massive flooding.
                </p>
                <p><img class="displayed" src="{{url_for('static', filename='css/hurricane-florence.jpg') }}" alt="Hurricane Florence"></p>
                <figcaption>Source: Threat Post</figcaption>
                <p>
                    The Onslow Water and Sewer Authority (ONWASA) is responsible for providing clean water to the over
                    175,000 people who live in Onslow County.
                    With all the flooding and infrastructure damage, they had an incredible task ahead of them. What
                    they didn’t realize was that
                    the hurricane was not the only problem they were going to face.
                </p>
                <p>
                    Starting on October 4th, ONWASA IT personnel noticed an aggressive malware infiltrating their
                    network defenses.
                    It was a well-known and dangerous malware called Emotet. Despite their multi-layered security
                    protections, the IT staff struggled to control it.
                    Then it took a turn for the worse. Around 3am on October 13th, the Emotet malware contacted its
                    command and control servers and downloaded a new payload,
                    the ransomware RYUK. This ransomware encrypted and locked out all of ONWASA’s computers unless a
                    ransom was paid.
                </p>
                <p>
                    On October 15th, ONWASA issued a
                    <a href="https://www.onwasa.com/DocumentCenter/View/3701/Scan-from-2018-10-15-08_08_13-A">
                        press
                        release
                    </a>
                    saying that their network was compromised and all computer systems used to process service orders,
                    manage water connections/disconnections,
                    and all engineering activities were inoperable. ONWASA refused to pay the ransom and had to revert
                    to responding to all requests using
                    manual processes. The water authority spent weeks recovering from the attack.
                </p>
                <br />
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>
    <div class="main">
        <section></section>
    </div>
    <div class="black-group" id="problem">
        <h2 style="text-align: center">The Problem</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    Emotet is causing problems beyond just ONWASA. The Quarterly Threat Report for the third quarter,
                    2018 from
                    <a href="https://www.proofpoint.com/us">Proofpoint</a> (a cybersecurity company that provides
                    threat intelligence on the latest
                    cyber attacks being launched via multiple sources) shows that banking trojans are the largest, most
                    active category of
                    malware across email, mobile apps, and social media.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/malware_by_category.png') }}" alt="Malware by category pie chart">
                    <figcaption>Source: Proofpoint</figcaption>
                </p>
                <p>Of banking trojans, Emotet is the second most popular malware in use today.</p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/relative_volume.png') }}" alt="Relative volume of banking trojan pie chart">
                    <figcaption>Source: Proofpoint</figcaption>
                </p>
                <p>
                    A key element in Emotet's attack sequence is its communication with command and control servers (C2
                    servers). Emotet thives on its ability to
                    update itself and offer iteself on the black market as a platform for further malware delivery. It
                    was this capability that downloaded
                    the ransomeware that caused the most acute trouble for ONWASA.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/emotet_infection_process.png') }}"
                         alt="Emotet infection process">
                    <figcaption>Source: US-CERT, emphasis on step 3 added</figcaption>
                </p>

                <p>
                    Emotet is one of many malware variants that utilize a domain generation algorithm (DGA) to evade
                    established malware protection
                    strategies. These domain generating algorithms are capable of creating thousands of domains per
                    day. The typical operation of
                    DGA-based malware is depicted in the diagram below.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/dga_algorithm.png') }}" alt="DGA-based malware operation">
                </p>
                <p>
                    <ul style="list-style-type: circle">
                        <li>Step 1: The malware sends requests to a DNS server to see if a generated domain exists.</li>
                        <li>Step 2: The vast majority of domains do not exist.</li>
                        <li>
                            Step 3: But for the malware operator, that is ok. They only need to register a small
                            percentage of the domains for the
                            malware to connect successfully to its C2 server. Once the malware has the IP address, the
                            malware can then request
                            its update.
                        </li>
                        <li>Step 4: The C2 server sends an update which launches the next phase of the attack.</li>
                    </ul>
                </p>
                <p>
                    The asymmetry of the DGA works to the advantage of the attacker. The bad guys only have to register
                    a statistically small number
                    of these domains for the malware to receive their instructions. The good guys would have a full
                    time job trying to chase down
                    all of those domains and blocking them.
                </p>
                <p>
                    Thousands of malware rely on this communication technique to advance their goals and take advantage
                    of their victims.
                    Our team is dedicated to stopping these communications in their tracks.
                </p>


            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="about">
        <h2 style="text-align: center">Solution</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    We believe that a combination of threat intelligence and machine learning integrated into DNS
                    servers can halt the C2 server communications
                    used by malware.
                </p>
                <p>
                    Our solution is RequeX DNS, a cloud-based, network security intelligent DNS firewall that protects
                    consumers and businesses. Rather than
                    preventing the initial infection, the goal of RequeX DNS is to halt all communications from a
                    malware to its command and control servers.
                </p>
                <p>
                    Most DNS servers do not block traffic, and most DNS firewalls only use blacklists of known malicious
                    domain names to determine if a domain
                    is malicious or benign.
                </p>
                <p>
                    Our post-infection protection system uses a modified DNS server to prevent communications between
                    malware and C2 servers.
                    It can also be used to identify which networks and computers on a network are infected by DGA-based
                    malware.
                </p>
                <p>
                    Below is an updated diagram illustrating how our solution works. In this diagram you can see the
                    same process as in the previous section,
                    however the last domain is blocked by our model.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/requex_diagram.png') }}" alt="DNS solution that halts communication with C2 servers">
                </p>
                <p>
                    Our solution uses machine learning models to classify domain requests as malicious or
                    non-malicious. If they are deemed malicious,
                    our models will block the DNS traffic. This blockage prevents the malware from communicating with
                    its C2 server.
                    In ONWASA’s case, the RYUK ransomware would never have attacked them.
                </p>
                <h3>Architecture</h3>
                <p>Below is a high level diagram of our solution's architecture. </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/architecture.png') }}" alt="RequeX architecture" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    The end user configures their DNS to use RequeX DNS. RequeX DNS uses a load balancer to resolve DNS requests.
                    The DNS servers utilize an Apache Kafka stream processor to distribute the data in a scalable fasion. Apache Storm subscribes
                    to that  datafeed, tokenizing the domain names and uses our models to predicts whether the domain is benign or malicious, and
                    if malicious, the family of malware to which it belongs. These results are published to a new Kafka channel to which our
                    master DNS server subscribes and then updates the DNS Response Policy Zones (RPZ).
                </p>
                <p>In a separate process, we collect training data (benign and malicious domain names), prep the data for analysis, store it, then train the models. 
                    The trained models are then deployed to Apache Storm for domain name prediction. Training is an ongoing process to keep up with new forms of
                    DGA malware.</p>
                <h3>Training Pipeline</h3>
                <p>The diagram below shows the steps from raw data from Cisco Umbrella and Bambenek to our trained model files.</p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/datapipeline.png') }}" alt="RequeX training pipeline" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <h3>Inference Pipeline</h3>
                <p>The inference pipeline diagram prodiveds a detailed look at how a domain name is predicted and classified in the RequeX DNS system.</p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/inferencepipeline.png') }}" alt="RequeX training pipeline" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <h3>Serving Applications</h3>
                <p>As seen below, there are several ways in which our output data can be consumed. At a basic level, a domain name can be run through the system using
                    a cURL command or our web UI, or it can be accessed by a DNS erver via Kafka. REST APIs are provided from our inference engine which runs on Flask.</p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/servingapplication.png') }}" alt="RequeX training pipeline" width="1210">
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">

        </div>

    </div>
    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="data">
        <h2>Exploratory Data Analysis</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <h3>Datasets</h3>
                <p>
                    Our data came from two main sources: the free Cisco Umbrella list of the top million domain
                    names by popularity, which we assumed to be benign, and Bambenek Consulting's free feeds of
                    recent DGA domains. For the Bambenek list, we used both the default (or mixed) confidence feed,
                    and the high confidence feed. We analyzed a total of 1.36M domain names, 1 million benign (73.5%)
                    and 360k malicious (26.5%).
                </p>
                <h3>Analysis</h3>
                <p>
                    We performed some EDA on the datasets to see if there were obvious differences in the names of the DGA domains and the
                    benign domains. A few differences were apparent. Although we did not ultimately use the EDA for feature engineering,
                    it served as a way to confirm the datasets should be different enough to predict using machine learning.
                </p>
                <p class="subheading">Character Frequency Analysis</p>
                <p>The following chart shows the normalized character frequencies of the characters in each domain name set.</p>

            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/character analysis.png') }}" alt="Character analysis">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    The domain names have distinct differences in frequency counts. There are far more j's, q's, x's and z's in the malicious
                    domain names than in the benign ones. There are also no dashes in the malicious domain names and far more periods in the
                    benign dataset.
                </p>

                <p class="subheading">Domain Name Length Analysis</p>
                <p>The histograms below show the distribution of domain name lengths for the different datasets.</p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/domain_length.png') }}" alt="Character analysis">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <p>
                    The distribution of benign domain names is a fairly standard distribution that peaks
                    around 16 characters. Both the mixed and high confidence datasets have a second peak around 30 characters. You can also see
                    that domain names of lengths less than 10 characters or greater than 33 are more likely to be benign than malicious.
                </p>
                <p class="subheading">Top Level Domain Analysis</p>
                <p>The top level domains of .com, .net and .org were the top three for each dataset. The charts below shows the relative
                    frequency of the next 10 most common top level domains, in order by top level domains for each dataset.</p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_cisco2.png') }}" alt="Top level domain frequencies">
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_dlg2.png') }}" alt="Top level domain frequencies">
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_dlg3.png') }}" alt="Top level domain frequencies">
                </p>
                <p>
                    Of special note is the that .ru (for Russia) is the 4th most commong top level domain in the Cisco Umbrella set. The .biz domain
                    is also far more common in the malicious datasets. And especially interesting is that the .pw domain is the 6th most common
                    top level domain for the malicious data sets, given that it is the country code top-level domain for Palau, an island nation
                   with a population size of roughly 22,000.
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <p>
                    The distribution of benign domain names is a fairly standard distribution that peaks
                    around 16 characters. Both the mixed and high confidence datasets have a second peak around 30 characters. You can also see
                    that domain names of lengths less than 10 characters or greater than 33 are more likely to be benign than malicious.
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="model">
        <h2>Our Model</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <h3>Objective</h3>

                <p>
                    Our main objective was to predict whether a domain name represented a malicious website or
                    a benign one, with at least
                    a 99% accuracy. Our second objective was to predict the DGA class of domain names deemed
                    malicious. And our third
                    objective was to minimize our false positives so as not to block benign websites.
                </p>

                <h3>The Machine Learning Model</h3>
                <p>
                    To prepare the data for training, we tokenized the domain name strings by converting the characters
                    in the domain names to an integer based sequence.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/tokenizing.png') }}" alt="Tokening of domain names">
                </p>
                <p>We created binary and multi-class LSTM models.</p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/modeling_diagram.png') }}" alt="Binary and Multiclass models diagram">
                </p>
                <p>
                    <h3>Model Metrics</h3>
                    <p>We evaluated the binary and multiclass models and for comparison, we trained and tested a logistic regression model. The resulting metrics
                        are listed in the table below.</p>
                    <table class="metricstable">
                        <tr>
                            <th>Metric</th>
                            <th>Binary</th>
                            <th>Multiclass</th>
                            <th>Logistic Regression</th>
                        </tr>
                       <tr>
                            <td>Accuracy</td>
                            <td>{{binary_metrics.accuracy}}</td>
                            <td>{{multi_metrics.accuracy}}</td>
                            <td>{{lr_metrics.accuracy}}</td>
                        </tr>
                        <tr>
                            <td>Precision</td>
                            <td>{{binary_metrics.precision}}</td>
                            <td>{{multi_metrics.precision}}</td>
                            <td>{{lr_metrics.precision}}</td>
                        </tr>
                        <tr>
                            <td>Recall</td>
                            <td>{{binary_metrics.recall}}</td>
                            <td>{{multi_metrics.recall}}</td>
                            <td>{{lr_metrics.recall}}</td>
                        </tr>
                        <tr>
                            <td>F1 Score</td>
                            <td>{{binary_metrics.f1score}}</td>
                            <td>{{multi_metrics.f1score}}</td>
                            <td>{{lr_metrics.f1score}}</td>
                        </tr>
                        <tr>
                            <td>False Positives</td>
                            <td>{{binary_metrics.fp}}</td>
                            <td>{{multi_metrics.fp}}</td>
                            <td>{{lr_metrics.fp}}</td>
                        </tr>
                        <tr>
                            <td>False Negatives</td>
                            <td>{{binary_metrics.fn}}</td>
                            <td>{{multi_metrics.fn}}</td>
                            <td>{{lr_metrics.fn}}</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/model_metrics.png') }}" alt="Model metrics chart">
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>



    <div class="white-group" id="team">
        <h2 style="text-align: center; color: black;">Our Team</h2>
        <table style="width: 100%">
            <tr>
                <td><img src="{{url_for('static', filename='css/jhunsberger.png') }}" alt="Jason Hunsberger"></td>
                <td><img src="{{url_for('static', filename='css/aniruddh.png') }}" alt="Aniruddh Nautiyal" style="opacity: 1;"></td>
                <td><img src="{{url_for('static', filename='css/surya.png') }}" alt="Surya Nimmagadda"></td>
                <td><img src="{{url_for('static', filename='css/liz.png') }}" alt="Elizabeth Shulok"></td>
            </tr>
            <tr>
                <td style="font-size: 18px; font-weight: bold; color: black">Jason Hunsberger</td>
                <td style="font-size: 18px; font-weight: bold; color: black">Aniruddh Nautiyal</td>
                <td style="font-size: 18px; font-weight: bold; color: black">Surya Nimmagadda</td>
                <td style="font-size: 18px; font-weight: bold; color: black">Elizabeth Shulok</td>
            </tr>
            <tr>
                <td style="font-size: 17px; font-style: italic; color: black">Digital Product Manager</td>
                <td style="font-size: 17px; font-style: italic; color: black">Staff Test Engineer</td>
                <td style="font-size: 17px; font-style: italic; color: black">Distinguished Engineer</td>
                <td style="font-size: 16px; font-style: italic; color: black">Principal Engineer</td>
            </tr>
            <tr>
                <td style="font-size: 17px; font-weight: bold; color: #595959;">Boston Area Non-profit</td>
                <td style="font-size: 17px; font-weight: bold; color: #595959;">Cypress Semiconductor</td>
                <td style="font-size: 17px; font-weight: bold; color: #595959;">Juniper Networks</td>
                <td style="font-size: 16px; font-weight: bold; color: #595959;">Autodesk</td>
            </tr>
            <!--<tr>
                <td style="font-size: 17px; font-weight: bold; color:#595959;">Company</td>
                <td style="font-size: 17px; font-weight: bold; color:#595959;">Company</td>
                <td style="font-size: 17px; font-weight: bold; color:#595959;">Company</td>
                <td><a href="https://www.linkedin.com/in/eshulok/"><img src={{url_for('static', filename='css/In-Black-14px.png') }} alt="LinkedIn"></a></td>
            </tr>-->
        </table>
    </div>
</body>